
@tailwind preflight;

@tailwind utilities;


.error {
    @apply .text-red-lighter;
}
.icon-small {
    @apply .w-4 .fill-current .shadow mx-2 my-0;
}
.icon-small:hover {
    @apply .shadow-lg;
}

.spin {
    transform-origin: 44% 50%;
    animation: spin 2s linear infinite;
};
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.pulse {
  animation: pulse 1s infinite;
}

.flashIt {
  animation: flashIt 0.5s 1;
}

@keyframes pulse {
  0% { opacity: 0.01; }
  50% { opacity: 1; }
  100% { opacity: 0.01; }
}

@keyframes flashIt {
  0% { opacity: 0.01; }
  50% { opacity: 1; }
  100% { opacity: 0.01; }
}
