
@tailwind preflight;

@tailwind utilities;


.icon-button {
    @apply .w-8 .text-black;
}
.icon-button:hover {
    @apply .opacity-50;
}

button:hover {
    @apply .opacity-50;
}
a {
    @apply .text-black .no-underline;
}
a:hover {
    @apply .opacity-50 .underline;
}
.icon-small {
    @apply .w-4 .text-black .shadow mx-2 my-0;
}
.icon-small:hover {
    @apply .bg-white .shadow-lg;
}

.spin { 
    transform-origin: 44% 50%;
    -webkit-transform-origin: 44% 50%;
    -moz-transform-origin: 44% 50%;
    animation: spin 2s linear infinite;
};
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
